
body {
	background-image: url("../img/green2.jpg");
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	color: white;
}

footer {
	color: rgba(255,255,255,0.8);
	font-size: 25px;
	letter-spacing: 0.07em;
	line-height: 2;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/* background color on top of bg image*/
.hero {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 34, 118, 0.5);
}

/* navbar */
.navbar {
	background-color: rgba(52, 143, 79, 0.7);
}

.navbar a {
	color: white;
	font-size: 25px;
}

/* weather section */
.weather {
	border:1px solid white;
	margin-top: 10rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: white;
}

.weather-head {
	height: 50%;
}

#icon-desc {
	font-size: 5rem;
	padding-top: 2rem;
}

.humidity, .wind, .visibility {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 1.5rem;

}

#temperature, #humidity {
	font-size: 7rem;
}

#icon-thermometer, #icon-humidity {
	font-size: 5rem;
}

#water-pump {
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }